
.buttonLine{
    margin-top: 56px;
    margin-bottom:  53px ;
    margin-right: 3px;
    height: 37px;
    display:flex;
    justify-content: center;
    background: url("../images/line.png") no-repeat center;
}
.buttonLine-lesstop{
    margin-top: 34px;
    margin-bottom:  50px ;
    margin-right: 3px;
    height: 37px;
    display:flex;
    justify-content: center;
    background: url("../images/line.png") no-repeat center;
}
.buttonLine__button{
    border-radius: 5px;
    max-width: 119px ;
    width: 100%;
    background-color: #ed3237;
    color: #ebebeb;
    letter-spacing: 1px;
    padding-top:8px;
    text-align: center;
    font-family: SourceSansProBold;
    font-size: 16px;
    box-shadow: -3.536px 3.536px 0px 0px rgba(0, 0, 0, 0.12);
}
.buttonLine__button:hover{
    background-color: #909090;
}