.banner{
    margin-right: auto;
    margin-left: auto ;
    padding-right: 16px;
    max-width: 1181px;
}
.banner__img{
    margin-top: 40px;
    margin-right: 16px;
    height: 391px;
    width: 100%;
    background-image: url("../images/banner-bg.png");
}
