.banner{
    display:flex;
    margin-right: auto;
    margin-left: auto ;
    max-height: 430px;
    max-width: 1181px;
    justify-content: center;
}
.banner__img{
    margin-top: 40px;
    margin-right: 14px;
    margin-left: 1px;
    display: block;
    max-height: 100%;
    max-width: 100%;
}
