.products{
    padding-top:13px;
    max-width: 445px;
    margin-right: auto;
    margin-left: auto ;

}
.products__title{
    font-size:16px;
    display:flex;
    letter-spacing: 1px;
    justify-content: center;
    color:#ed3237;
    font-family: SourceSansProBold;
}
.products__items{
    flex-wrap: wrap;
    margin-top: 30px;
    display:flex;
    justify-content: center;

}
.products__l-items{
    display:flex;
    justify-content: center;
}
.products__item{
    display: inline-block;
    letter-spacing: 1px;
    padding: 9px 15px 9px 15px;
    font-size:16px;
    color:#373435;
    margin-right: 7px;
    margin-bottom: 7px;
    font-family: SourceSansProBold;
    box-shadow: -3.536px 3.536px 0px 0px rgba(0, 0, 0, 0.12);
    text-align: center;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    background-color: #ebebeb ;
}
@media screen and (min-width: 768px) and (max-width: 1024px)
{
    .products{
        max-width: 350px;
    }

}
@media screen and (min-width: 412px) and (max-width: 768px)
{
    .products{
        max-width: 300px;
    }
}
@media screen and (max-width: 412px)
{
    .products{
        max-width: 250px;
    }
}